<div data-th-fragment="trumbowygStyleFragment">
    <link rel="stylesheet" href="/dist/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="/dist/plugins/colors/ui/trumbowyg.colors.min.css" />
    <link rel="stylesheet" href="/dist/plugins/emoji/ui/trumbowyg.emoji.min.css" />
    <link rel="stylesheet" href="/dist/plugins/table/ui/trumbowyg.table.min.css" />
    <link rel="stylesheet" href="/dist/plugins/mathml/ui/trumbowyg.mathml.min.css" />
    <link rel="stylesheet" href="/dist/plugins/specialchars/ui/trumbowyg.specialchars.min.css" />
</div>